<template>
  <accordion-element id="I cant find my PeerTube platform on Sepia Search or instances.joinpeertube.org and I cant add it: why?">
    <template #title>
      {{ $gettext('I can\'t find my PeerTube platform on Sepia Search or instances.joinpeertube.org and I can\'t add it: why?') }}
    </template>

    <div>
      <p>{{ $gettext('It probably means that we moderated your PeerTube platform after an abuse report and found out that:') }}</p>

      <ul>
        <li>{{ $gettext('there is problematic content hosted by the platform (not only one video/account/channel or two, but severals)') }}</li>
        <li>{{ $gettext('the platform doesn\'t seem to be properly moderated or lacks federation policy ( = lack of ToS or CoC in the about page)') }}</li>
      </ul>

      <p>{{ $gettext('Framasoft remains the sole judge of this notion of “abuse”.') }}</p>
    </div>
  </accordion-element>
</template>

<script>
  import AccordionElement from '../shared/AccordionElement.vue'

  export default {
    components: {
      AccordionElement
    }
  }
</script>
