<template>
  <main id="all-plugin-selection">
    <div class="title-block">
      <h1>
        <strong>{{ $gettext('Our plugins selection') }}</strong>
      </h1>

      <div class="small-separator"></div>
    </div>

    <div v-for="pluginSelection in getPluginSelections()" :key="pluginSelection.url" class="jpt-container">
      <plugin-selection
        :title="pluginSelection.title" :url="pluginSelection.url" :description="pluginSelection.description"
        :preview-name="pluginSelection.preview" :subtitle="pluginSelection.subtitle"
      >
      </plugin-selection>
    </div>
  </main>
</template>

<script>
  import { defineComponent } from 'vue'

  import { useGettext } from 'vue3-gettext'
  import { useHead } from '@vueuse/head'

  import PluginSelection from './PluginSelection.vue'
  import PluginSelectionsFR from '../../mixins/PluginSelectionsFR'
  import PluginSelectionsEN from '../../mixins/PluginSelectionsEN'

  import { buildHead } from '../../shared/head'

  export default defineComponent({
    components: {
      PluginSelection
    },

    mixins: [
      PluginSelectionsEN,
      PluginSelectionsFR
    ],

    setup () {
      const { $gettext } = useGettext()

      return useHead(buildHead({
        title: $gettext('Our plugins selection'),
        description: $gettext('Discover PeerTube plugins among a list selected by Framasoft: livechat, video annotations, moderation and more!'),
        image: import.meta.env.VITE_URL + '/img/seo/plugins-selection.jpg'
      }))
    },

    methods: {
      getPluginSelections () {
        if (this.$language.current.startsWith('fr_')) {
          return this.pluginSelectionsFR
        }

        return this.pluginSelectionsEN
      }
    }
  })
</script>

<style lang="scss" scoped>
  @import '../../scss/_variables';
  @import '../../scss/_mixins';
  @import '../../scss/_bootstrap-mixins';

  #all-plugin-selection {
    > .jpt-container {
      > * {
        margin-bottom: 1rem;
      }
    }
  }
</style>
