<template>
  <span class="actor">
    <img
      v-if="avatarUrl && !avatarError"
      :src="avatarUrl"
      alt=""
      :class="{ account: isAccount }"
      @error="setAvatarError()"
    />

    <a
      :href="actor.url" :title="linkTitle"
      class="jpt-router-link wrap-text" rel="nofollow noreferrer noopener" target="_blank"
    >{{ actor.displayName }}</a>
  </span>
</template>

<script>
  import { defineComponent } from 'vue'

  export default defineComponent({
    props: {
      actor: Object,
      type: String
    },

    data () {
      return {
        avatarError: false
      }
    },

    computed: {
      avatarUrl () {
        const avatars = this.actor.avatars
        if (avatars.length === 0) return ''

        avatars.sort((a1, a2) => {
          if (a1.width < a2.width) return -1
          if (a1.width > a2.width) return 1

          return 0
        })

        return avatars[0].url
      },

      linkTitle () {
        if (this.type === 'channel') return this.$gettext('Go on this channel page')

        return this.$gettext('Go on this account page')
      },

      isAccount () {
        return this.type === 'account'
      }
    },

    methods: {
      setAvatarError () {
        this.avatarError = true
      }
    }
  })
</script>

<style lang="scss" scoped>
  @import '../../scss/_variables';
  @import '../../scss/_mixins';

  .actor {
    img {
      object-fit: cover;
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      margin-right: 5px;

      &.account {
        border-radius: 50%;
      }
    }
  }

</style>
