<template>
  <svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="28.5" cy="28.5" r="28.5" fill="#F2690D" />
    <path d="M25.762 31.4644L24.1883 10.7838H32.5449L30.9932 31.4644H25.762ZM28.422 45.4459C27.8013 45.4459 27.2102 45.3215 26.6487 45.0725C26.1019 44.8391 25.6217 44.5045 25.2079 44.0688C24.7941 43.6331 24.469 43.1274 24.2326 42.5516C23.9961 41.9603 23.8779 41.3223 23.8779 40.6376C23.8779 39.9218 24.0035 39.2682 24.2548 38.6769C24.5207 38.07 24.868 37.5487 25.2966 37.113C25.7251 36.6773 26.2201 36.335 26.7817 36.086C27.358 35.837 27.9565 35.7125 28.5771 35.7125C29.1978 35.7125 29.7815 35.837 30.3283 36.086C30.8898 36.335 31.3774 36.6773 31.7912 37.113C32.205 37.5487 32.5301 38.0622 32.7665 38.6536C33.003 39.2449 33.1212 39.8829 33.1212 40.5676C33.1212 41.2678 32.9882 41.9214 32.7222 42.5283C32.471 43.1196 32.1237 43.6331 31.6804 44.0688C31.2518 44.5045 30.7568 44.8391 30.1953 45.0725C29.6337 45.3215 29.0426 45.4459 28.422 45.4459Z" fill="white" />
  </svg>
</template>

<script>
  import { defineComponent } from 'vue'

  export default defineComponent({})
</script>
