<template>
  <accordion-element id="Why hosting the code on GitHub and Framagit?">
    <template #title>
      {{ $gettext('Why hosting the code on GitHub and Framagit?') }}
    </template>

    <div>
      <p>{{ $gettext('For historical reason :)') }}</p>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
